/* Empty. Add your own CSS if you like*/

#wk .col{
    margin:5px;
    height:85px;
    text-align:center;
    line-height:32px;
}
#wk .col.light div{
    text-align:left;
}
#wk .col .icon{
    font-size:32px;
}
#wk .ion-slide{
    text-align:center;
}
