/* Empty. Add your own CSS if you like*/
.col{
    margin:5px;
    height:85px;
    text-align:center;
    line-height:32px;
}
.col.light div{
    text-align:left;
}
.col .icon{
    font-size:32px;
}
.ion-slide{
    text-align:center;
}