<ion-view view-title="文件夹">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="folderAdd()"><i class="icon ion-plus-round"></i></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="tab.work"><i class="icon ion-ios-arrow-left"></i>工作台</a>
    </ion-nav-buttons>
    <ion-content class="no-padding">
        <div class="list">
            <div class="item item-divider"></div>
            <div class="item item-icon-left item-icon-right ">
                <i class="icon ion-ios-folder positive"></i>
                图片
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            <div class="item item-icon-left item-icon-right ">
                <i class="icon ion-ios-folder positive"></i>
                文档
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            <div class="item item-icon-left item-icon-right ">
                <i class="icon ion-ios-folder positive"></i>
                视频
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            <div class="item item-icon-left item-icon-right ">
                <i class="icon ion-ios-folder positive"></i>
                音频
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
