<ion-view view-title="日程表">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ui-sref="tab.work-scheduleAdd"><i class="icon ion-plus-round"></i></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="tab.work"><i class="icon ion-ios-arrow-left"></i>工作台</a>
    </ion-nav-buttons>
    <ion-content class="no-padding">
        <div class="list">
            <div class="item item-divider">今天 5月20日 星期三</div>
            <div class="item item-icon-right" >
                <div class="row row-center">
                    <div class="text-left">10:00</div>
                    <div class="text-center">这是一条日程</div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>

            <div class="item item-divider">明天 5月21日 星期四</div>
            <div class="item item-icon-right" >
                <div class="row row-center">
                    <div class="text-left">11:00</div>
                    <div class="text-center">这是一条日程</div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
