<ion-view view-title="新分享">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="">完成</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left" >
        <a class="button button-clear" ui-sref="tab.work-shareList">取消</a>
    </ion-nav-buttons>
    <ion-content class="no-padding">
        <div class="list">
            <div class="item item-divider item-icon-right">
                移动互联
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>

            <label class="item item-input">
                <input type="text" placeholder="标题">
            </label>

            <label class="item item-input">
                <textarea class="" placeholder="任务标题"></textarea>
            </label>
            <label class="item item-input">
            </label>
            <div class="item item-divider">参与者</div>
            <div class="item item-icon-left item-icon-right ">
                <i class="icon ion-ios-people-outline"></i>
                冯浩
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
