<ion-view view-title="申请表">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="showOaAdd()"><i class="icon ion-ios-more"></i></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="tab.work"><i class="icon ion-ios-arrow-left"></i>工作台</a>
    </ion-nav-buttons>
    <ion-content class="no-padding">
        <div class="list">
            <div class="item item-divider">请假申请</div>
            <div class="item item-avatar item-icon-right" >
                <img ng-src="img/IMG_3872.JPG" width="44" height="44"/>
                这是一条申请
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>

            <div class="item item-divider">报销申请</div>
            <div class="item item-avatar item-icon-right" >
                <img ng-src="img/IMG_3872.JPG" width="44" height="44"/>
                这是一条申请
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>

            <div class="item item-divider">外出申请</div>
            <div class="item item-avatar item-icon-right" >
                <img ng-src="img/IMG_3872.JPG" width="44" height="44"/>
                这是一条申请
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
