<ion-view view-title="外出申请">
    <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="tab.work-oaList"><i class="icon ion-ios-arrow-left"></i>申请表</a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-divider">申请人</div>
            <div class="item item-avatar" >
                <img ng-src="img/IMG_3872.JPG" width="44" height="44"/>
                <p>浩哥</p>
            </div>

            <div class="item item-divider">外出时间</div>
            <div class="item item-col" >
                <p>2015-05-25 10:00 至 2015-05-25 12:00</p>
            </div>

            <div class="item item-divider">外出原因</div>
            <div class="item item-col" >
                <p>拜访客户</p>
            </div>

            <div class="item item-divider">审批情况</div>
            <div class="item item-col" >
                <p>同意</p>
            </div>

            <div class="item item-divider">审批人</div>
            <div class="item item-avatar" >
                <img ng-src="img/24767_large.jpg" width="44" height="44"/>
                <p>王经理</p>
            </div>

            <div class="item item-divider">抄送人</div>
            <div class="item item-avatar" >
                <img ng-src="img/40182_large.jpg" width="44" height="44"/>
                <p>小刘</p>
            </div>

            <div class="item item-divider">附件</div>
            <div class="item item-icon-left">
                <i class="icon ion-paperclip"></i>
                <p>客户名单</p>
            </div>
        </div>
    </ion-content>
</ion-view>