<ion-view view-title="项目1">
    <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="tab.work-projectList"><i class="icon ion-ios-arrow-left"></i>项目列表</a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-divider"><span>项目成员</span>

            </div>

            <div class="item item-col" >

                <img ng-src="img/IMG_3872.JPG" width="44" height="44">
                <img ng-src="img/IMG_3872.JPG" width="44" height="44">
                <img ng-src="img/IMG_3872.JPG" width="44" height="44">
            </div>
        </div>
        <ion-list type="inset-list">
            <ion-item  class="item-icon-right" ui-sref="tab.work-taskList">
                任务版
                <i class="icon">
                    <span class="item-note item-icon-right">
                        All 3
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </span>
                </i>
            </ion-item>
            <ion-item  class="item-icon-right">
                日程表
                <i class="icon">
                    <span class="item-note item-icon-right">
                        All 0
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </span>
                </i>
            </ion-item>
            <ion-item  class="item-icon-right" ui-sref="tab.work-shareList">
                分享墙
                <i class="icon">
                    <span class="item-note item-icon-right">
                        All 2
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </span>
                </i>
            </ion-item>
            <ion-item  class="item-icon-right">
                文件库
                <i class="icon">
                    <span class="item-note item-icon-right">
                        All 1
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </span>
                </i>
            </ion-item>
            <ion-item  class="item-icon-right">
                销售
                <i class="icon">
                    <span class="item-note item-icon-right">
                        All 1
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </span>
                </i>
            </ion-item>
            <ion-item  class="item-icon-right">
                办公
                <i class="icon">
                    <span class="item-note item-icon-right">
                        All 1
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </span>
                </i>
            </ion-item>
        </ion-list>
        <div class="list">
            <div class="item item-divider"><span>最新动态</span>

            </div>

            <div class="item item-col" >
                11111
            </div>
            <div class="item item-col" >
                22222
            </div>
            <div class="item item-col" >
                33333
            </div>
        </div>
    </ion-content>
</ion-view>