<ion-view view-title="工作台">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">项目
        <i class="badge badge-assertive">4</i>
      </div>
      <div class="item item-body">
        <div>
          堡泰项目
        </div>
        <div>
          移动互联
        </div>
        <div>
          OA项目
        </div>
      </div>
      <div class="col col-bottom">
        <div class="text-right padding-right" ui-sref="tab.work-projectList">
          更多
          <i class="icon ion-ios-arrow-right"></i>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">日程
        <i class="badge badge-assertive">1</i>
      </div>
      <div class="item item-body">
        <div>
          4月10日 星期五
        </div>
        <div>
          9:00 开会
        </div>
      </div>
      <div class="col col-bottom">
        <div class="text-right padding-right">
          more
          <a class="icon ion-ios-arrow-right"></a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">办公
          <i class="badge badge-assertive">2</i>
      </div>
      <div class="item item-body">
        <div>
          XXX提交的外出申请
        </div>
        <div>
          XXX提交的请假申请
        </div>
        <div>
          XXX提交的报销申请
        </div>
      </div>
      <div class="col col-bottom">
        <div class="text-right padding-right">
          more
          <a class="icon ion-ios-arrow-right"></a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">任务
        <i class="badge badge-assertive">3</i>
      </div>
      <div class="item item-body">
        <div>
          XXX发起了新的任务
        </div>
        <div>
          XXX发起了新的任务
        </div>
        <div>
          XXX发起了新的任务
        </div>
      </div>
      <div class="col col-bottom">
        <div class="text-right padding-right" ui-sref="tab.work-taskList">
          更多
          <a class="icon ion-ios-arrow-right"></a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
