<ion-view view-title="工作台">
    <ion-content class="padding">
        <div class="">
            <div class="row">
                <div class="col stable-bg positive" ui-sref="tab.work-crmList">
                    <i class="icon ion-ios-pie"></i>
                    <div>CRM</div>
                </div>
                <div class="col stable-bg positive" ui-sref="tab.work-oaList">
                    <i class="icon ion-ios-briefcase"></i>
                    <div>办公</div>
                </div>
            </div>
            <div class="row">
                <div class="col stable-bg positive" ui-sref="tab.work-scheduleList">
                    <i class="icon ion-ios-calendar"></i>
                    <div>日程</div>
                </div>
                <div class="col stable-bg positive" ui-sref="tab.work-shareList">
                    <i class="icon ion-ios-paperplane"></i>
                    <div>分享</div>
                </div>
            </div>
            <div class="row">
                <div class="col stable-bg positive" ui-sref="tab.work-taskList">
                    <i class="icon ion-ios-loop-strong"></i>
                    <div>任务</div>
                </div>
                <div class="col stable-bg positive" ui-sref="tab.work-folderList">
                    <i class="icon ion-ios-folder"></i>
                    <div>文件夹</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
