<ion-view view-title="新客户">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="">完成</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left" >
        <a class="button button-clear" ui-sref="tab.work-crmList">取消</a>
    </ion-nav-buttons>
    <ion-content class="no-padding">
        <div class="list">
            <div class="item item-divider">基本信息</div>
            <div class="item item-input ">
                <input type="text" placeholder="客户名称">
            </div>

            <div class="item item-divider">联系信息</div>
            <div class="item item-input ">
                <input type="text" placeholder="地址">
            </div>
            <div class="item item-input ">
                <input type="text" placeholder="电话">
            </div>

            <div class="item item-divider">其他信息</div>
            <div class="item item-input ">
                <input type="text" placeholder="备注">
            </div>

            <div class="item item-divider">数据权限</div>
            <div class="item item-input ">
                <input type="text" placeholder="所属部门">
            </div>

        </div>
    </ion-content>
</ion-view>
