<ion-view view-title="全部市场活动">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ui-sref="tab.work-crmSchdAdd"><i class="icon ion-plus-round"></i></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="tab.work-crmList"><i class="icon ion-ios-arrow-left"></i>CRM</a>
    </ion-nav-buttons>
    <ion-content class="no-padding">
        <ion-item class="item-icon-right" ui-sref="tab.work-crmSchdDetail">
            推广
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </ion-content>
</ion-view>
