<ion-view view-title="CRM">
    <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="tab.work"><i class="icon ion-ios-arrow-left"></i>工作台</a>
    </ion-nav-buttons>
    <ion-content class="no-padding">
        <div class="list">
            <div class="item item-divider"></div>
            <div class="item item-icon-left item-icon-right" ui-sref="tab.work-crmBoard">
                <i class="icon ion-ios-speedometer-outline"></i>
                仪表盘
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>

            <div class="item item-divider"></div>
            <div class="item item-icon-left item-icon-right" ui-sref="tab.work-crmSchd">
                <i class="icon ion-ios-cart-outline"></i>
                市场活动
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>

            <div class="item item-divider">更多</div>
            <div class="item item-icon-left item-icon-right" ui-sref="tab.work-crmXsxs">
                <i class="icon ion-ios-checkmark-outline"></i>
                销售线索
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ui-sref="tab.work-crmCustomer">
                <i class="icon ion-ios-body-outline"></i>
                客户
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            <div class="item item-icon-left item-icon-right" >
                <i class="icon ion-ios-person-outline"></i>
                联系人
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>

            <div class="item item-divider"></div>
            <div class="item item-icon-left item-icon-right" ui-sref="tab.work-crmXsjh">
                <i class="icon ion-social-yen-outline"></i>
                销售机会
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>

            <div class="item item-divider"></div>
            <div class="item item-icon-left item-icon-right ">
                <i class="icon ion-ios-compose-outline"></i>
                活动记录
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>

            <div class="item item-divider"></div>
            <div class="item item-icon-left item-icon-right" ui-sref="tab.work-crmProduct">
                <i class="icon ion-ios-flower-outline"></i>
                产品
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
