<ion-view view-title="销售线索">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="showXsxsAdd()"><i class="icon ion-plus-round"></i></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="tab.work-crmList"><i class="icon ion-ios-arrow-left"></i>CRM</a>
    </ion-nav-buttons>
    <ion-content class="no-padding">
        <ion-item class="item-icon-right">
            <h2>浩哥</h2>
            <p>堡泰</p>
            <p>05-26 11:26</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </ion-content>
</ion-view>
