<ion-view view-title="销售机会">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click=""><i class="icon ion-plus-round"></i></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="tab.work-crmList"><i class="icon ion-ios-arrow-left"></i>CRM</a>
    </ion-nav-buttons>
    <ion-content class="no-padding">
        <div class="list">
            <div class="item item-divider"></div>
            <div class="item  item-icon-right" >
                初步洽谈(10%)
                <i class="icon">
                    <span class="item-note item-icon-right">
                      0元<i class="icon ion-ios-arrow-down icon-accessory"></i>
                    </span>
                </i>
            </div>
            <div class="item  item-icon-right" >
                需求确定(30%)
                <i class="icon">
                    <span class="item-note item-icon-right">
                      0元<i class="icon ion-ios-arrow-down icon-accessory"></i>
                    </span>
                </i>
            </div>
            <div class="item  item-icon-right" >
                方案/报价(60%)
                <i class="icon">
                    <span class="item-note item-icon-right">
                      0元<i class="icon ion-ios-arrow-down icon-accessory"></i>
                    </span>
                </i>
                <div class="list list-inset">
                    <div class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                        </label>
                        方案介绍
                    </div>
                    <div class="item item-checkbox" >
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        新建目标
                    </div>
                    <div class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        联系到某人
                    </div>
                </div>
            </div>
            <div class="item  item-icon-right" >
                谈判审核(80%)
                <i class="icon">
                    <span class="item-note item-icon-right">
                      0元<i class="icon ion-ios-arrow-down icon-accessory"></i>
                    </span>
                </i>
            </div>
            <div class="item  item-icon-right" >
                赢单(100%)
                <i class="icon">
                    <span class="item-note item-icon-right">
                      0元<i class="icon ion-ios-arrow-down icon-accessory"></i>
                    </span>
                </i>
            </div>
            <div class="item  item-icon-right" >
                输单(0%)
                <i class="icon">
                    <span class="item-note item-icon-right">
                      0元<i class="icon ion-ios-arrow-down icon-accessory"></i>
                    </span>
                </i>
            </div>
        </div>
    </ion-content>
</ion-view>
