<ion-view view-title="联系人">
    <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="tab.work-crmList"><i class="icon ion-ios-arrow-left"></i>CRM</a>
    </ion-nav-buttons>
<ion-content>
    <ion-list>
        <!--<div auto-list-divider auto-list-divider-value="{{item.user.name.first}}" class="item item-avatar"
             ng-repeat="item in items">
            <img src="{{item.user.picture.thumbnail}} " />
            <h2>{{item.user.name.first}} {{item.user.name.last}}</h2>
            <p>{{item.user.location.city}} {{item.user.password}}</p>
        </div>
        <ion-item auto-list-divider auto-list-divider-value="{{item.user.gender}}" auto-list-divider-function="dividerFunction" class="item-avatar" ng-repeat="item in items">
		<img src="{{item.user.picture.thumbnail}} " />
		<h2>{{item.user.name.first}} {{item.user.name.last}}</h2>
		<p>{{item.user.location.city}} {{item.user.password}}</p>
		</ion-item>-->
        <div class="item item-divider">A</div>
        <div class="item item-avatar">
            <img ng-src="img/24767_large.jpg" width="44" height="44">
            <h2>A</h2>
            <p>部门</p>
        </div>
        <div class="item item-divider">B</div>
        <div class="item item-avatar">
            <img ng-src="img/24767_large.jpg" width="44" height="44">
            <h2>B</h2>
            <p>部门</p>
        </div>
        <div class="item item-divider">C</div>
        <div class="item item-avatar">
            <img ng-src="img/24767_large.jpg" width="44" height="44">
            <h2>C</h2>
            <p>部门</p>
        </div>
        <div class="item item-divider">D</div>
        <div class="item item-avatar">
            <img ng-src="img/24767_large.jpg" width="44" height="44">
            <h2>D</h2>
            <p>部门</p>
        </div>
        <div class="item item-divider">E</div>
        <div class="item item-avatar">
            <img ng-src="img/24767_large.jpg" width="44" height="44">
            <h2>E</h2>
            <p>部门</p>
        </div>
        <div class="item item-divider">F</div>
        <div class="item item-avatar">
            <img ng-src="img/24767_large.jpg" width="44" height="44">
            <h2>F</h2>
            <p>部门</p>
        </div>
        <div class="item item-divider">G</div>
        <div class="item item-avatar">
            <img ng-src="img/24767_large.jpg" width="44" height="44">
            <h2>G</h2>
            <p>部门</p>
        </div>
    </ion-list>

</ion-content>
</ion-view>