<ion-view view-title="市场活动">
    <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="tab.work-crmSchd"><i class="icon ion-ios-arrow-left"></i>全部市场活动</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="schdMore()"><i class="icon ion-ios-more"></i></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list ">
            <div class=" item-body" >
                <ion-slide-box does-continue="true" show-pager="true" auto-play="false" active-slide="index">
                    <ion-slide>
                        <p><b>推广</b></p>
                        <p>活动日期：2015-05-26 至 2015-05-31</p>
                        <p>活动状态：已计划</p>
                    </ion-slide>
                    <ion-slide>
                        <p><b>团队成员</b></p>
                        <p><img ng-src="img/IMG_3872.JPG" width="44" height="44">
                            <i class="icon ion-chevron-right icon-accessory"></i>
                        </p>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="item item-body" >

                    <div class="row">
                        <div class="col-25 text-center" ui-sref="tab.work-crmXsxs">
                            <p>1</p>
                            <p>销售线索</p>
                        </div>
                        <div class="col-25 text-center">
                            <p>0</p>
                            <p>日程任务</p>
                        </div>
                        <div class="col-25 text-center">
                            <p>0</p>
                            <p>审批</p>
                        </div>
                        <div class="col-25 text-center">
                            <p>0</p>
                            <p>文档</p>
                        </div>
                    </div>

            </div>
            <div class="">
                <div class="row text-center">
                    <a class="button button-stable button-clear  col-50"><b>跟进记录</b></a>
                    <a class="button button-stable button-clear col-50">详细资料</a>
                </div>
                <div class="list ">
                    <div class="item item-clear item-icon-left item-icon-right">
                        <i class="icon icon-accessory">05-26 </i>
                        <i class="icon icon-accessory">10:00</i>
                    </div>
                    <div class="item item-body">
                        <div class="row row-center">
                            <div class="col-80">
                                <div class="row">
                                    <img ng-src="img/24767_large.jpg" width="44" height="44">
                                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;小李</h2>
                                </div>
                            </div>
                           <div class="col-10"><i class="icon ion-ios-chatboxes positive"><span style="margin-left: 5px">1</span></i></div>
                        </div>
                        <div class="row">
                            <p>全部准备完毕</p>
                        </div>
                    </div>
                </div>
                <div class="list ">
                    <div class="item item-clear item-icon-left item-icon-right">
                        <i class="icon icon-accessory">今天 </i>
                        <i class="icon icon-accessory">10:18</i>
                    </div>
                    <div class="item item-body">
                        <div class="row row-center">
                            <div class="col-80">
                                <div class="row">
                                    <img ng-src="img/IMG_3872.JPG" width="44" height="44">
                                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;浩哥</h2>
                                </div>
                            </div>
                            <div class="col-10"><i class="icon ion-ios-chatboxes-outline"><span style="margin-left: 5px">1</span></i></div>
                        </div>
                        <div class="row">
                            <p>按计划进行中</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar >
        <!--<div class="row">-->
            <!--<a class="button button-clear icon ion-clipboard col-10"></a>-->
            <!--<a class="button button-clear icon ion-image col-10"></a>-->
            <!--<input type="text" class="col-offset-10" placeholder="快速记录">-->
            <!--<a class="button button-clear icon ion-ios-mic-outline col-offset-34"></a>-->
        <!--</div>-->
        <div class="row  row-center">
            <a class="button button-clear icon ion-android-attach"></a>
            <input type="text" class="col-offset-10" placeholder="快速记录">
            <a class="buttun buttun-clear col-offset-34">发送</a>
        </div>
    </ion-footer-bar>
</ion-view>