<ion-view view-title="新产品">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="">完成</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left" >
        <a class="button button-clear" ui-sref="tab.work-crmList">取消</a>
    </ion-nav-buttons>
    <ion-content class="no-padding">
        <div class="list">
            <div class="item item-divider">基本信息</div>
            <div class="item item-input ">
                <input type="text" placeholder="产品名称">
            </div>
            <div class="item item-input">
                <input type="text" placeholder="产品类型">
            </div>
            <div class="item item-input">
                <input type="text" placeholder="产品规格">
            </div>

            <div class="item item-divider">其他信息</div>
            <div class="item item-input ">
                <input type="text" placeholder="备注">
            </div>

            <div class="item item-divider">数据权限</div>
            <div class="item item-input ">
                <input type="text" placeholder="所属部门">
            </div>

            <div class="item item-divider">成功案例</div>
            <div class="item item-input ">
                <input type="text" placeholder="">
            </div>

        </div>
    </ion-content>
</ion-view>
