<ion-view view-title="创建市场活动">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="">保存</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left" >
        <a class="button button-clear" ui-sref="tab.work-crmList">取消</a>
    </ion-nav-buttons>
    <ion-content class="no-padding">
        <div class="list">
            <div class="item item-divider">基本信息</div>
            <div class="item item-input ">
                <input type="text" placeholder="活动名称">
            </div>

            <div class="item item-divider">计划信息</div>
            <div class="item item-input ">
                <input type="text" placeholder="开始日期">
                <input type="text" placeholder="结束日期">
            </div>

            <div class="item item-divider">数据权限</div>
            <div class="item item-input ">
                <input type="text" placeholder="所属部门">
            </div>

            <div class="item item-input ">
                <a><i class="icon ion-plus-round"></i>添加更多</a>
            </div>

        </div>
    </ion-content>
</ion-view>
